* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #EDF2F6;
  color: #7D8A9E;
  display: grid;
  width: 100%;
  grid-template-columns: 15% 55% auto;
  grid-template-rows: 80px 100px 100px 300px auto;
  grid-template-areas: 
    "side-bar nav-bar nav-bar"
    "side-bar header header"
    "side-bar header header"
    "side-bar . ."
    "side-bar job-description media-section"
}

header {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  background-color: #FFF;
  width: 100%;
  height: 100%;
  padding: 50px 50px 0 50px;
}

header ul {
  display: flex;
  padding: 0;
  margin: 65px 0 0 0;

}

header li {
  display: flex;
  margin: 0 20px 0 0;
  height: 30px;
}

header li:hover {
  color: #374050;
  border-bottom: 3px solid #45A4F3; 
}

header button {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 0 0 0 10px;
  border: 2px solid #D3DAE1;
}

h1 {
  margin: 0;
  font-weight: normal;
  color: #374050;
}

.open-button {
  border-radius: 15px;
  height: 30px;
  width: 80px;
/*  background-image: url(images/circle.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: 10px;*/
}

.open-button img {
  height: 10px;
  width: 10px;
}

.header-buttons {
  display: inline-block;
  float: right;
  position: relative;
  bottom: 20px;

}

.nav-bar {
  display: flex;
  width: 100%;
  grid-column: 2 / 4;
  grid-row: 1;
  border-bottom: 1px solid #E8EAED;
}

hr {
  background-color: #E8EAED;
  height: 1px;
  border: none;
}

input {
  height: 40px;
  background-color: #FFF;
  width: 100%;
  height: 100%;
}

.nav-bar-buttons {
  width: 9.5%;
  height: 100%;
  margin: 0;
  background-color: #FFF;
  border: none;
  border-right: 1px solid #E8EAED;
}

.nav-bar-buttons:hover {
  background-color: #45A4F3;
}

.side-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #647087
}

.side-bar li {
  color: #7D8A9E;
  padding: 6px 0 0 20px;
  height: 25px;
}

.side-bar li:hover {
  background-color: #313947;
  border-left: 3px solid #45A4F3;
  padding-left: 17px;
}



.side-bar {
  min-width: 120px;
  /*display: grid;*/
  grid-column: 1;
  grid-row: 1 / 6;
  background-color: #374050;
  color: #A3ACBD;
  font-size: 12px;
  align-self: start;
  min-height: 100%;
}

.side-bar-hr {
  background-color: #313947;
}

.search-bar {
  width: 62%;
  outline: none;
  border: none;
  padding: 20px;
  border-right: 1px solid #E8EAED;
}

.preview {
  /*color: #65B4F5;*/
  color: #45A4F3;
}

.graph-section {
  grid-column: 2 / 4;
  grid-row: 4;
  margin: 50px 50px 0 50px;

}

.graph-img {
  height: 200px;
  width: 400px;
  /*float: right;*/
  /*dis*/
}

.job-description {
  grid-column: 2 / 3; 
  grid-row: 5 / 6;
  margin: 50px 0 50px 50px;
  color: #7D8A9E;
  background-color: #FFF;
  border-radius: 5px;
}

.job-description-header {
  background-color: #717E93;
  color: #FFF;
  height: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.job-description-titles {
  padding: 15px;
  width: 200px;
  display: inline-block;
}

.job-description-body {
  display: inline-block;
  vertical-align: text-top;
}

.edit-job-description-btn {
 background-color: #7E8BA4;
 border: none;
 color: #FFF;
}

.description {
  width: 60%;
}

.media-section {
  margin: 50px;
  grid-column: 3;
  grid-row: 5 / 6;

}

.social-media-buttons {
  display: block;
  width: 100%;
  height: 40px;
  margin: 0 0 10px 0;
  color: #FFF;
  background-repeat: no-repeat;
  background-position: 20px;
  background-size: 15px;
  border-radius: 5px;
}

.facebook {
  background-color: #4F71BC;
  background-image: url(images/facebook.svg);
  
}

.twitter {
  background-color: #45A8E9;
  background-image: url(images/twitter.svg);
}

.linkedin {
  background-color: #3381B8;
  background-image: url(images/linkedin.svg);
}

.copy-button {
  background-color: #66B8BF;
  color: #FFF;
  height: 100%;
}















